.section-title h2.expo-lukus-title {
    margin: 0;
    line-height: 1.1;
    font-size: var(--font-size-heading);
    font-weight: var(--font-weight-heading);
    color: var(--bg);
    font-family: var(--font-heading);
    text-align: center;
    text-transform: uppercase;
}

.section-title p {
    margin: 0;
    font-size: 18px;
    color: var(--bg);
    font-family: var(--font-main);
    text-align: center;
}

/* --- 1. MASKED REVEAL --- */
.section-title .mask-wrap {
    overflow: hidden;
}

/* Tablet ONLY */
@media (min-width: 481px) and (max-width: 768px) {
    .section-title h2.expo-lukus-title {
        font-size: 65px;
    }
}

/* Mobile ONLY */
@media (max-width: 480px) {
    .section-title h2.expo-lukus-title {
        font-size: 50px;
    }
}