.section-title h2.expo-lukus-title {
    margin: 0;
    line-height: 1.1;
    font-size: 80px;
    font-weight: 900;
    color: var(--bg);
    text-align: center;
}

/* --- 1. MASKED REVEAL --- */
.section-title .mask-wrap {
    overflow: hidden;
}

/* Tablet ONLY */
@media (min-width: 481px) and (max-width: 768px) {
    .section-title h2.expo-lukus-title {
        font-size: 65px;
    }
}

/* Mobile ONLY */
@media (max-width: 480px) {
    .section-title h2.expo-lukus-title {
        font-size: 50px;
    }
}