---
import "../../public/assets/style/section-title.css";
const { title } = Astro.props;
const subtitle = Astro.props.subtitle || "";
---

<section class="section-title">
    <div class="mask-wrap">
        <h2 class="expo-lukus-title" set:html={title} />
        <br>
        <p  class="expo-lukus-title">{subtitle}</p>
    </div>
</section>

<script>
    gsap.registerPlugin(ScrollTrigger);

    gsap.utils.toArray(".section-title").forEach((section) => {
        const title = section.querySelectorAll(".expo-lukus-title");

        gsap.from(title, {
            y: 200,
            duration: 1.5,
            ease: "expo.out",
            scrollTrigger: {
                trigger: section,
                start: "top 85%",
                toggleActions: "play none none none",
            },
        });
    });
</script>
