---
import { getLangFromUrl } from "../../i18n/utils";
import Message from "../components/chat-boot.astro";

const lang = getLangFromUrl(Astro.url);
---

<!doctype html>
<html lang={lang}>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/assets/images/Expo Lukus favicon.png" />
		<link rel="icon" href="/assets/images/Expo Lukus favicon.png" />
		<meta charset="UTF-8" />
		<meta name="generator" content={Astro.generator} />
		<title>Expo Lukus</title>
		<link
  rel="preload"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css"
  as="style"
  onload="this.onload=null;this.rel='stylesheet'"
/>
<noscript>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css">
</noscript>



		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Big+Shoulders:opsz,wght@10..72,100..900&display=swap"
			rel="stylesheet"
		/>

		<style>
			:root {
				--primary: #01954b;
				--secondary: #e02927;
				--white: #ffffff;
				--card-inner: #e9e9e9;
				--font-main: "Poppins", sans-serif;
				--font-heading: "Big Shoulders", cursive;
				--bg: #0a0a0a;
				--black: #000000;
				--soft-gray: #f4f7f5;
				--font-size-heading: 80px;
				--font-weight-heading: 900;
			}
			html,
			body {
				margin: 0;
				padding: 0;
				width: 100%;
				height: 100%;
				background: #ffffff;
				font-family: var(--font-main);
			}
		</style>
	</head>
	<body>
		<slot />
		<Message />

		<a
			id="chat-button"
			class="chat-icon"
			aria-label="Tellurys Boot Chat"
		>
			<i class="fa-solid fa-comment"></i>
		</a>
	</body>

<script>
	window.addEventListener("load", () => {
    const images = document.querySelectorAll(".lazy-img");
	setTimeout(() => {
		
		const observer = new IntersectionObserver((entries, obs) => {
			entries.forEach((entry) => {
            if (entry.isIntersecting) {
                const img = entry.target;
                img.src = img.dataset.src;
                img.classList.remove("lazy-img");
                obs.unobserve(img);
            }
        });
    });
	images.forEach((img) => observer.observe(img));
}, 50);

});
</script>

</html>
