---
import { getLangFromUrl } from "../../i18n/utils";
const lang = getLangFromUrl(Astro.url);

---

<!doctype html>
<html lang={lang}>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta charset="UTF-8" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro Basics</title>
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css"
			integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw=="
			crossorigin="anonymous"
			referrerpolicy="no-referrer"
		/>
	</head>
	<body>
		<slot />
	</body>
</html>

<style>
	:root {
		--primary: #01954b;
		--secondary: #e02927;
		--white: #ffffff;
		--font-main: "Poppins", sans-serif;
		--font-heading: "Playfair Display", serif;
		--bg: #0a0a0a;
		--black: #000000;
	}
	html,
	body {
		margin: 0;
		padding: 0;
		width: 100%;
		height: 100%;
		/* overflow: hidden; */
		background: #ffffff;
		font-family: var(--font-main);
	}
</style>
